body {
  user-select: none;
  background: linear-gradient(left, #bc18c5, #139aa1);
  background: -moz-linear-gradient(left, #bc18c5, #139aa1);
  background: -webkit-linear-gradient(left, #bc18c5, #139aa1);
}

section {
  padding-top: 10%;
  display: none;
  border-radius: 20px;
  margin: auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 40%;
  min-width: 300px;
  height: 500px;
}

table {
  width: 300px;
  height: 300px;
  border: 4px solid;
  border-radius: 15px;
  margin-bottom: 15px;
  margin:auto;
}

td {
  width: 30%;
  height: 30%;
  border: 4px solid;
  text-align: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}


#resultado {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}


.invisivel {
  font-size: 5em;
  margin: 0;
  color: transparent;
  font-family: cursive;
}

.x,
.o {
  font-family: 'Times New Roman';
  font-size: 5em;
  margin: 0;
}

tr:nth-of-type(1) td:nth-of-type(1) {
  border-top: 0;
  border-left: 0;
  border-radius: 10px 0 0 0;
}

tr:nth-of-type(1) td:nth-of-type(2) {
  border-top: 0;
}

tr:nth-of-type(1) td:nth-of-type(3) {
  border-top: 0;
  border-right: 0;
  border-radius: 0 10px 0 0;
}

tr:nth-of-type(2) td:nth-of-type(1) {
  border-left: 0;
}

tr:nth-of-type(2) td:nth-of-type(3) {
  border-right: 0;
}

tr:nth-of-type(3) td:nth-of-type(1) {
  border-left: 0;
  border-bottom: 0;
  border-radius: 0 0 0 10px;
}

tr:nth-of-type(3) td:nth-of-type(2) {
  border-bottom: 0;
}

tr:nth-of-type(3) td:nth-of-type(3) {
  border-right: 0;
  border-bottom: 0;
  border-radius: 0 0 10px 0;
}

#sair {
  width: 125px;
  height: 35px;
  border: 2px solid;
  border-radius: 15px;
  margin: auto;
  margin-top: 50px;
  font-size: 1.1em;
  text-align: center;
  background-color: #00000080;
  cursor: pointer;
  display: none;
}

#sair p {
  margin-top: 5px;
}

#sair:hover {
  background-color: #020e16;
  color: #f200ff;
}

/* MENU======================================================== */

main {
  width: 40%;
  min-width: 300px;
  height: 500px;
  border-radius: 20px;
  margin: auto;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main h1 {
  margin-bottom: 15%;
}

.opcoes,
main div:last-of-type {
  margin: auto;
  margin-bottom: 25px;
  border: 1px solid;
  border-radius: 20px;
  color: #fffffff2;
  background-color: #00000080;
  font-size: 1em;
  height: 10%;
  width: 70%;
  max-width: 300px;
  cursor: pointer;
}

.opcoes:hover,
main div:last-of-type:hover {
  background-color: #020e16;
  color: #f200ff;

}
